.glass {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Variables used in the code */
:root {
  --color-brand-dark: #6b21a8;
  --color-brand-default: #c084fc;
  --color-brand-accent: #a855f7;
  --color-brand-light: #f3e8ff;
}

.text-brand-dark {
  color: var(--color-brand-dark);
}
.text-brand-accent {
  color: var(--color-brand-accent);
}
.text-brand-default {
  color: var(--color-brand-default);
}
.bg-brand-accent {
  background-color: var(--color-brand-accent);
}
.bg-brand-light {
  background-color: var(--color-brand-light);
}
.border-brand-light {
  border-color: var(--color-brand-light);
}
