
        /* Custom Gradient Background */
        body {
            background: linear-gradient(135deg, #FFFFFF 0%, #F3E8FF 50%, #E9D5FF 50%);
            background-attachment: fixed;
            min-height: 100vh;
            min-width: 100%;
        }

        /* Glassmorphism Effect */
        .glass {
            background: rgba(255, 255, 255, 0.65);
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            border: 1px solid rgba(255, 255, 255, 0.5);
        }

        .glass-card {
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(8px);
            transition: all 0.3s ease;
            border: 1px solid rgba(255, 255, 255, 0.6);
        }

        .glass-card:hover {
            transform: translateY(-5px);
            /* box-shadow: 0 10px 25px -5px rgba(107, 33, 168, 0.15); */
            border-color: #C084FC;
        }

        /* Gradient Text */
        .text-gradient {
            background: linear-gradient(to right, #7E22CE, #C084FC);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

@media (min-width: 766px) and (max-width: 1900px) {
  .video {
    display: none !important;
  }
}

